section.menubar{
    float: left;
    width: 25vw;
    height: 100vh;
    margin: -8px;

    border-right: 1px solid gray;
}

div.cabecalho-menubar{
    height: 4.5rem;
    border-bottom: 1px solid gray;
}

span.titulo-menubar{
    display: block;
    margin-top: 1rem;

    font-size: x-large;
    font-weight: bold;
}

span.descricao-menubar{
    font-size: smaller;
    font-style: italic;
}

img.logo-zeno{
    float: left;
    width: 4rem;
    margin: 0rem 1rem;
}

button.modulo{
    width: 100%;
    text-align: left;
    font-size: medium;
    font-weight: bold;
    padding: .5rem 0rem .5rem 1rem;

    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    cursor: pointer;
}

img.modulo{
    float: right;
    margin: -.25rem 1rem;
}

a.componente{
    display: inline-block;
    width: calc(100% - 2rem);
    padding: .25rem 0rem .25rem 2rem;

    border-bottom: 1px solid gray;
    text-decoration: none;
    color: var(--cor-texto);
    cursor: pointer;
}

section.navegador{
    float: right;
    width: 75vw;
    height: 100vh;
    margin: -8px;
}

div.cabecalho-navegador{
    height: 4.5rem;
    margin: 1rem;
    border-bottom: 1px solid gray;
}

span.entidade{
    float: right;
    font-weight: bold;
    font-size: larger;
    display: block;
}

span.usuario{
    display: block;
    float: right;
    font-size: smaller;
}

