/* You can add global styles to this file, and also import other style files */
:root {
  --cor-primaria: #007bff;
  --cor-fundo: #f8f9fa;
  --cor-texto: #212529;
  --cor-borda: #ced4da;
  --cor-branca: #ffffff;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: var(--cor-texto);
    background-color: var(--cor-fundo);
    -webkit-font-smoothing: antialiased;
}

section.componente{
  width: calc(100% - 2rem);
  height: calc(100% - 7rem);
  margin: 1rem;

  overflow: hidden;
}

span.componente{
  display: inline-block;
  width: 40%;
  font-size: large;
  font-weight: bold;
}

div.ferramentas{
  float: right;
}

button.ferramentas{
  width: 8rem;
  height: 2rem;
  margin: 0rem .5rem;

  cursor: pointer;
}

div.container{
  display: inline-block;
  width: 100%;
  height: 95%;
}


/* ================================================== */
/*                 BARRA DE PESQUISA                  */
/* ================================================== */

div.pesquisar{
  width: 100%;
}

label[for='PESQUISAR']{
  display: inline-block;
  width: 40%;
  margin: 1rem .5rem 0rem;

  font-size: smaller;
  font-weight: bold;
}

label[for='ID_MES']{
  float: right;
  width: 12rem;
  margin: 1rem .5rem 0rem;

  font-size: smaller;
  font-weight: bold;
}

input#PESQUISAR{
  width: 40%;
  height: 1.75rem;
  margin: 0rem .5rem;
}

select#ID_MES{
  float: right;
  width: 12rem;
  height: 1.75rem;
  margin: 0rem .5rem;
  outline: none;
}

button.pesquisar{
  width: 5rem;
  height: 1.75rem;
  margin: 0rem .25rem;

  cursor: pointer;
}

/* ================================================== */
/*                 TABELA DA GRID                     */
/* ================================================== */

div.datagrid{
  width: calc(100% - 1rem);
  margin: .5rem;
}

table.datagrid{
  width: 100%;
  user-select: none;
  border-collapse: collapse;
  text-align: left;
  font-size: smaller;

  & th, td{
    height: 1.25rem;
    padding-left: .5rem;
    border: 1px solid gray;
  }
}

.selecionada{
  color: #ffffff;
  background-color: cornflowerblue;
}

/* ================================================== */
/*                 TELA DE REGISTRO                   */
/* ================================================== */

form.dataform{
  position: relative;
  width: 60%;
  height: calc(100% - 2rem);
  margin: 1rem 20%;
  border: 1px solid #212529;
  border-radius: .5rem;
}

label{
  display: inline-block;
  margin: .5rem 1rem 0rem .5rem;
  font-size: smaller;
}

input{
  margin: 0rem .5rem ;
  height: 1.35rem;
  outline: none;
  border: 1px solid gray;
  border-radius: 3px;
}

input[type=checkbox]{
  height: 1rem;
  margin: 0rem;
}

select{
  margin: 0rem .5rem;
  height: 1.65rem;
  outline: none;

  border: 1px solid gray;
  border-radius: 3px;
}

textarea{
  width: calc(100% - 1.5rem);
  margin: 0rem .5rem ;
  height: 2.8rem;
  outline: none;
  border: 1px solid gray;
  border-radius: 3px;
  resize: none;
}

.invalido{
  border: 1px solid red;
}

div.executores{
  position: absolute;
  top: calc(100% - 4rem);
  width: calc(100% - 1rem);
  margin: 1rem .5rem;
}

button.executores{
  float: right;
  width: 8rem;
  height: 1.75rem;
  margin: 0rem .5rem;

  font-size: small;
  cursor: pointer;
}

/* ================================================== */
/*                 MODAL                              */
/* ================================================== */

dialog.modal{
  width: 20rem;
  border: 1px solid gray;
  border-radius: 1rem;
}

span.modal{
  display: inline-block;
  width: 100%;

}

button.modal{
  float: right;
  width: 6rem;
  height: 1.5rem;
}
