/* You can add global styles to this file, and also import other style files */

:root {
  --cor-primaria: #007bff;
  --cor-fundo: #f8f9fa;
  --cor-texto: #212529;
  --cor-borda: #ced4da;
  --cor-branca: #ffffff;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: var(--cor-texto);
    background-color: var(--cor-fundo);
    -webkit-font-smoothing: antialiased;
}